form#form #project_ownership_username,
form#form #project_ownership_email,
form[name="createdb"] #project_ownership_username,
form[name="createdb"] #project_ownership_email {
    width: 75%;
    max-width: 450px;
}

form[name="createdb"] #project_ownership-tr .cc_label,
form[name="createdb"] #project_ownership-tr .cc_data {
    padding-top: 25px;
    padding-bottom: 40px;
}

form#form .project_ownership_name_wrapper input,
form[name="createdb"] .project_ownership_name_wrapper input {
    max-width: 100%;
    width: 100%;
}

form[name="createdb"] .cc_label {
    font-weight: bold;
}

img.search-icon {
    margin-left: -25px;
    margin-right: 6px;
}

a.project_ownership_auto_assign {
    font-size: 10px;
    text-decoration: underline;
}

.project_ownership_name_wrapper {
    width: 75%;
    max-width: 450px;
    margin-top: 20px;
}

.project_ownership_name_wrapper div {
    float: left;
    width: 50%;
}

.required-ast {
    color: #800000;
}

.disabled {
    opacity: 0.5;
}
